.navBarStyle {
  background-color: navy;
  text-align: center;
}

.homeLink {
  color: white;
  float: left;
}

.listLink {
  color: white;
}

.newBeerLink {
  color: white;
  float: right;
  margin-right: 2%;
}
