.navBarStyle {
  background-color: #f7ecd8;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Sen', sans-serif;
}

.homeLink {
  color: #5f5137;
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.listLink {
  color: #5f5137;
  font-size: 30px;
  margin-right: 2%;
}

.newBeerLink {
  color: #5f5137;
  margin-right: 2%;
  font-size: 30px;
  float: right;
}

.listLink:hover{
  text-decoration: none;
  color: #5f5137;
}

.newBeerLink:hover{
  text-decoration: none;
  color: #5f5137;
}

.homeLink:hover{
  text-decoration: none;
  color: #5f5137
}

.title {
  background-color: #ff8604;
  margin-left: 40%;
  margin-right: 40%;
}
